.nav {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100;
  padding: 0 4rem;
  z-index: 100;
  background-color: rgb(255, 254, 254);
  margin-left: 20px;
  box-shadow: 2px 2px 2px 2px rgba(179, 177, 177, 0.835);
}
.logo {
  position: relative;
  width: 50px;
  height: 50px;
}
.title {
  background: linear-gradient(
    142deg,
    rgba(107, 198, 71, 0.893) 25%,
    rgba(234, 101, 101, 0.879) 48%,
    rgba(83, 95, 229, 0.893) 59%,
    rgba(245, 216, 113, 0.678) 59%,
    rgb(229, 84, 65) 84%
  );
  font-size: 34px;
  text-align: center;
  margin-left: 50px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  text-align: center;
  margin-top: 20%;
}
.btn-hero {
  text-transform: uppercase;
  background: transparent;
  color: rgb(25, 25, 25);
  display: inline-block;
  font-weight: 700;
  border: 3px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(125, 123, 123, 0.2);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.container h2 {
  background-color: rgb(56, 55, 55);
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 2.5rem;
}
.btn {
  border-radius: 10px;
  border: solid;
  background-color: rgb(255, 249, 249);
}
.btn:hover {
  background-color: rgba(203, 200, 200, 0.834);
}
.copy-icon {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
  left: -23px;
  bottom: 10px;
  border-radius: 2px 2px 2px 2px;
}

.tooltip .tooltiptext {
  width: 110px;
  background-color: rgb(56, 55, 55);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 7px 0;
  position: relative;
  z-index: 1;
  visibility: hidden;
  bottom: 100%;
  margin-left: 28px;
}
/* .tooltip:hover .tooltiptext {
  /* visibility: visible; }*/
